.shiftDown
{
	margin-top: 20px;
}

.moveUp
{
	margin-top: 0px;
	padding-top: 0px;
}

.hidden
{
	display: none;
}

.shiftRight
{
	padding-left :40px;
}
#query
{
	margin-bottom: 0px;
}

#searchResults
{
	display: block;
	z-index: 5;
	margin-top: none;
	padding-left: 5px;
}

